@model IEnumerable<Models.Cake>
@{
    ViewBag.Title = "Cake Base";
    int CakeID = 0;
}
@Html.Action("CakeStyle")

<div class="box otherPagesBox">

    <h2>Which cake base fancies your taste buds?</h2>
    <div class="container">
        <div class="cakeDefault">
            <form action="@Url.Action("PickCake")" method="post">
                <div class="row">
                    <div class="col-md-6">

                        @foreach (var item in Model)
                        {
                            <div class="cake">
                                <table>
                                    <tr>
                                        <td class="tableEdit3">
                                            @Html.RadioButtonFor(modelItem => CakeID, item.CakeID, new { id = "cake" + item.CakeID})
                                        </td>
                                        <td class="tableEdit2">
                                            <img class="img-responsive" src="~/Content/Images/@Html.DisplayFor(modelItem => item.ImageUrl)">
                                        </td>
                                        <td class="tableEdit1">
                                            <p><span class="subtitle">@Html.DisplayFor(modelItem => item.CakeDescription)</span> ~ @Html.DisplayFor(modelItem => item.Price)</p>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    </div>
                    <div class="col-md-6">
                            <h4>Pick a base and click Next!</h4>
                            <div class="cakeWrapper">
                                <div class="cakeBuilderImage"></div>
                            </div>
                    </div>
                </div>
                <br /><br />
                <div class="buttonNext text-center button">
                    <button type="submit" class="text-center button">Next: Choose an Icing!</button>
                </div>
                <br />
            </form>
        </div>
    </div>
</div>
