@using NomNomCakes.Extensions
@model Models.Basket
@{
    ViewBag.Title = "Cart";
}
<div class="box otherPagesBox">

    <h2>Ready to Check-Out your yummy treats?</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Preview
                            </th>
                            <th>
                                Base
                            </th>
                            <th>
                                Icing
                            </th>
                            <th>
                                Topping
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Total Cost
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.BasketItems)
                    {
                        <tr>
                            <td>
                                <div class="cartcake" style="background-image: @item.BuildCakeImage()">
                                </div>
                            </td>
                            <td>
                                @item.Cake.CakeDescription
                            </td>
                            <td>
                                @item.Icing.IcingDescription
                            </td>
                            <td>
                                @item.Topping.ToppingDescription
                            </td>
                            <td>
                                @item.Quantity
                            </td>
                            <td>
                                @item.TotalCost().ToString("C")
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
