@model IEnumerable<Models.Cake>

@{
    ViewBag.Title = "Cake List";
}

<h2>CakeList</h2>

<p>
    @Html.ActionLink("Create New", "CakeCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CakeDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CakeDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "CakeEdit", new { id=item.CakeID }) |
            @Html.ActionLink("Details", "CakeDetails", new { id = item.CakeID }) |
            @Html.ActionLink("Delete", "CakeDelete", new { id = item.CakeID })
        </td>
    </tr>
}

</table>
