@{
    ViewBag.Title = "Index";
}
<h2>Admin</h2>
<div class="adminButtons">
    <div class="row text-center">
        <div class="col-md-4">
            @Html.ActionLink("Cake Base Admin", "CakeList", null, new { @class = "btn btn-lg btn-warning" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Icing Admin", "IcingList", null, new { @class = "btn btn-lg btn-warning" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Topping Admin", "ToppingList", null, new { @class = "btn btn-lg btn-warning" })
        </div>
    </div>
    <br /><br />
    <div class="row text-center">
        <div class="col-md-4">
            @Html.ActionLink("Coupon Admin", "CouponList", null, new { @class = "btn btn-lg btn-warning" })
        </div>
        <div class="col-md-4">
            @Html.ActionLink("Coupon Type Admin", "CouponTypeList", null, new { @class = "btn btn-lg btn-warning" })
        </div>
    </div>
</div>
