@model Models.Topping

@{
    ViewBag.Title = "Topping Delete";
}

<h2>Topping Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Topping</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ToppingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToppingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ToppingList")
        </div>
    }
</div>
