<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="bodyBackground">
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/Home/Index"><img class="img-responsive logo" src="~/Content/Images/logo2.png"></a>
                </div>
                <div class="nav-items">
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav pull-left">
                            <li><a href="~/Home/CakeBase">1.<br /> Start</a></li>
                            <li><a href="~/Home/Icing">2.<br /> Icing</a></li>
                            <li>@Html.ActionLink("3. Topping", "Topping", "Home")</li>
                            <li class="cart"><a href="~/Home/Cart">Cart <span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                            <li class="last pull-right">@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="body-content">
                @RenderBody()
            </div>
            <footer class="text-center">
                &copy; @DateTime.Now.Year - NomNomCakes ---
                <div class="dropup" style="position:relative">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>@Html.ActionLink("Cake Base", "CakeList", "Admin")</li>
                        <li>@Html.ActionLink("Icing", "IcingList", "Admin")</li>
                        <li>@Html.ActionLink("Topping", "ToppingList", "Admin")</li>
                        <li>@Html.ActionLink("Coupon", "CouponList", "Admin")</li>
                        <li>@Html.ActionLink("Coupon Type", "CouponTypeList", "Admin")</li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Admin Portal", "Index", "Admin")</li>
                    </ul>
                </div>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>

</body>
</html>
